<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130412872094-9seio6eplbansvkvurlppcrbr4dj3h8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130412872094-9seio6eplbansvkvurlppcrbr4dj3h8g</string>
	<key>API_KEY</key>
	<string>AIzaSyD2Jz8tadYCPyRRvluC66tyqVAzCiMo8EQ</string>
	<key>GCM_SENDER_ID</key>
	<string>130412872094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carbon.mynotes</string>
	<key>PROJECT_ID</key>
	<string>my-cool-0001-mynotes</string>
	<key>STORAGE_BUCKET</key>
	<string>my-cool-0001-mynotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130412872094:ios:0e6013642b283697b9168f</string>
</dict>
</plist>